@model APICarFinance.gen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>gen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.genname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genyear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genyear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gencost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gencost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gendetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gendetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car.carbrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car.carbrand)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gencode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
