@model IEnumerable<APICarFinance.subversion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gen.genname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gen.genname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subcode }) |
            @Html.ActionLink("Details", "Details", new { id=item.subcode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subcode })
        </td>
    </tr>
}

</table>
