@model IEnumerable<APICarFinance.View_Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carbrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genyear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gencost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gendetail)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carbrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genyear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gencost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gendetail)
        </td>
    </tr>
}

</table>
